<header>
  <nav>
    <div id="container-logo">
      <a href="#">
        <img src="icons/Meubel House_Logos-05.png" alt="" width="50" height="32">
        <p>Furniro</p>
      </a>
    </div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Shop</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <div class="nav-right-items">
      <div class="alert">
        <a href="#"><img src="icons/icon-account-alert-outline.png" alt="" width="28" height="28"></a>
      </div>
      <div class="search">
        <a href="#"><img src="icons/icon-search.png" alt="" width="28" height="28"></a>
      </div>
      <div class="heart">
        <a href="#"><img src="icons/icon-heart.png" alt="" width="28" height="28"></a>
      </div>
      <div class="shopping-cart">
        <a href="#"><img src="icons/icon-shopping-cart-outlined.png" alt="" width="28" height="28"></a>
      </div>
    </div>
  </nav>
</header>
