<app-header></app-header>
<section id="banner">
  <div class="banner-content">
    <div>
      <h2 class="banner-subtitle">New Arrival</h2>
      <h1 class="banner-title">Discover Our New Collection</h1>
      <p class="banner-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum placeat voluptates, eaque consequatur mollitia minima!</p>
      <button class="banner-button">Buy Now</button>
    </div>
  </div>
</section>
<section id="product-range">
  <div class="range-container">
    <h1 class="range-title">Browse The Range</h1>
    <p class="range-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="range">
      <div class="range-items">
        <div class="range-item">
          <div class="item-image" id="image1"></div>
          <p class="item-label">Dining</p>
        </div>
        <div class="range-item">
          <div class="item-image" id="image2"></div>
          <p class="item-label">Living</p>
        </div>
        <div class="range-item">
          <div class="item-image" id="image3"></div>
          <p class="item-label">Bedroom</p>
        </div>
      </div>
    </div>
  </div>
</section>

